@model CloudbassCRUDII.Models.BookingCrew

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingCrew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Has_Role.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_Role.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
