@*Models are in partial views.*@

@section header {

}

@{
    ViewBag.Title = "Edit Job Information";
}

<div class="row">
    <div class="col-md-12">
        <h2>Edit Job Information</h2>
    </div>
</div>

<div id="EditJobPartial">
    @Html.Action("EditJobPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="SelectBookingTypePartial">
    @Html.Action("BookingTypePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="CreateSchedule"></div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <hr />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@

    <script type="text/javascript">
        $(document).ready(function () {
            var selectedClient = $("#Client").val();
            var selectedStatus = $("#JobStatu").val();
            var jobStatuSelect = $('#JobStatu');
            addJob(selectedClient,jobStatuSelect);
             if (selectedStatus != null && selectedStatus != '') {
            jobStatuSelect.val = selectedStatus;
        };
    });



         $('#Client').change(function () {
                var selectedClient = $("#Client").val();
             var jobStatuSelect = $("#JobStatu").val();
                 //jobStatuSelect.empty();
             if (selectedClient != null && jobStatuSelect !=null) {
                     
                  addJob(selectedClient, jobStatuSelect );
            }
         
        });

         //$("#JobStatu").change(function () {
         //    var SelectedStatus = $("#JobStatu").val();
         //   if (SelectedStatus != null && SelectedStatus != '') {
         //         addJob(SelectedStatus);
         //   }
         
         //});

        function addJob(selectedClient, jobStatuSelect) {
           $.getJSON('@Url.Action("GetJobStatus")', { id: jobStatuSelect }, function (statuss) {
                        if (statuss != null && !jQuery.isEmptyObject(statuss))
                        {
                            jobStatuSelect.append($('<option/>', {
                                value: null,
                                text: ""
                            }));
                            $.each(statuss, function (index, status) {
                                regionsSelect.append($('<option/>', {
                                    value: status.Value,
                                    text: status.Text
                                }));
                            });
                        };
           });
        }

          

       
    </script>
}




