@model CloudbassCRUDII.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.photo)*@
            @*<img src="@Url.Content(Model.photo)" alt="Not found" width="40" height="40" />*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nextOfKin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nextOfKin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postNominals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postNominals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
